@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url('fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#navbar {
  background-image: url("/Users/timklaus/desktop/Portfolio/img/titlebanner.jpeg");
  width: 100vw;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 15vw;
  border-bottom: 5px solid #0a0a0a;
}

body {
  background-image: linear-gradient(to bottom right, black,#0a0a0a,black,#0a0a0a,black);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#hero {
  background-image: url("/Users/timklaus/Desktop/Portfolio/img/nehalem.jpeg");
  width: 100vw;
  height: auto;
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  font-family: 'Abril Fatface';
  font-size: 6.5vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.headline {
  font-family: 'Abril Fatface';
  font-size: 5vw;
  margin-right: 2vw;
  padding-right: 2vw;
  text-align: right;
  position: relative;
 }

.vertical-line {
  border-right: 2px solid white;
  padding-left: 2vw;
  padding-right: 2vw;
}

.teaser {
  width: 60vw;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.topblock {
  position: inherit;
  height: 14.25vw;
  padding-top: 14.25vw;
}