@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url('fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#navbar {
  background-image: url("titlebanner.jpeg");
  width: 100vw;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 15vw;
  border-bottom: 5px solid #0a0a0a;
}

body {
  background-image: linear-gradient(to bottom right, black,#0a0a0a,black,#0a0a0a,black);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

#hero {
  background-image: url("nehalem.jpeg");
  width: 100vw;
  height: auto;
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width:600px) {
  #hero {
    height: 100vw;
    width: auto;
  }
}

#title {
  font-family: 'Abril Fatface';
  font-size: 6.5vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.headline {
  font-family: 'Abril Fatface';
  font-size: 4vw;
  position: relative;
  text-align: right;
 }

.teaser {
  width: 60vw;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  border-left: 2px solid white;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.topblock {
  position: inherit;
  height: 14.25vw;
  padding-top: 14.25vw;
}

.spacerblock {
  height: 10vw;
}

.footer {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1vw;
  text-align: center;
  padding: 2vw;
  color: slategray;
}

.mailicon {
  height: 5vw;
  width: auto;
  align-content: normal;
}
