@font-face {
  font-family: 'AbrilFatface-Regular';
  src: url('fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('fonts/NunitoSans.ttf') format('truetype');
}

#navbar {
  background-image: url("titlebanner.jpeg");
  width: 100vw;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 10vw;
  border-bottom: 5px solid #0a0a0a;
}

.navbartwo {
    background-image: url("titlebanner.jpeg");
    width: 100vw;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 10vw;
    border-bottom: 5px solid #0a0a0a;
    position: fixed;
    top: 0;
  }

#contactform {
  width: 100%;
  border: 1px solid #ccc;
  padding: 14px;
  background: #ececec;
}

body {
  background-image: linear-gradient(to bottom right, black,#0a0a0a,black,#0a0a0a,black);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.home {
  display: block;
  font-family: 'Abril Fatface';
  font-size: 4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  float: left;
  color: white;
  text-decoration: none;
}

.home:hover {
  color: white;
  opacity: 80%;
}

.hero {
  background-image: url("nehalem.jpeg");
  min-height: 800px;
  width: 100vw;
  height: auto;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .hero {
    background-attachment: scroll;
    min-height:1200px;
  }
}

.title {
  display: block;
  font-family: 'Abril Fatface';
  font-size: 4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  float: left;
}

#mailicon {
  display: block;
  float: right;
  padding-top: 2vw;
  padding-right: 2vw;
  height: 6vw;
  width: auto;

}

.headline {
  font-family: 'Abril Fatface';
  font-size: 4vw;
  position: relative;
  text-align: right;
 }

 .pageheadline {
  display: block;
  font-family: 'Abril Fatface';
  font-size: 5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
 }

 .pagesubheadline {
   display: block;
   font-family: 'Abril Fatface';
   font-size: 3.5vw;
   padding-left: 5vw;
   padding-right: 5vw;
   text-align: center;
 }

 .pagecopy {
   font-family: 'NunitoSans-Regular';
   font-size: 2.5vw;
   text-align: justify;

 }

.posterimage {
  width: 800px;
  height: auto;
  padding: 2vw;
}

.teaser {
  width: 60vw;
  height: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  border-left: 2px solid white;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}

.topblock {
  position: inherit;
  height: 10vw;
  padding-top: 10vw;
}

.spacerblock {
  height: 10vw;
}

.footer {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1vw;
  text-align: center;
  padding: 2vw;
  color: slategray;
}

img:hover {
  opacity: 0.8;
}

